{
  "presets": [
    "@babel/preset-env"
  ],
  "ignore": [
    "./node_modules"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["module-resolver", {
      "root": ["./src", "./test"],
      "alias": {
        "@errors": "./src/errors",
        "@requests": "./src/requests",
        "@utils": "./src/utils"
      }
    }]
  ]
}
