{
  "presets": [
    "@babel/preset-env"
  ],
  "ignore": [
    "./node_modules"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    ["module-resolver", {
      "root": ["./src", "./test"],
      "alias": {
        "@errors": "./src/errors",
        "@models": "./src/models",
        "@requests": "./src/requests",
        "@responses": "./src/responses",
        "@utils": "./src/utils",
        "@validations": "./src/validations",
        "@workers": "./src/workers"
      }
    }]
  ]
}
